<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileprogramming.videorecorderex">

    <uses-permission android:name="android.permission.CAMERA"/> //camera 접근 권한
    <uses-permission android:name="android.hardware.camera"/>   // 하드웨어 카메라 있는지 검사하기 위한 권한
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>   // 오디오 레코드 권한 해당권한은 동영상 뿐만아니라 음성까지 동시에 녹화 하기 위함
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> // 외부 저장소 저장 권한


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoRecorderEx">
        <activity android:name=".MainActivity"

            android:screenOrientation="landscape">  // app 가로 고정 하기 위해 추가

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>